.blog-details-page{
    padding: 6rem 1rem;
}
.container{
   
    max-width: 1200px;
}
.blog-details-page .searchBlog{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.blog-details-page .searchBlog .dateCat{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.blog-details-page .searchBlog .dateCat span{
    margin-right: .6rem;
}
.blog-details-page .searchBlog .dateCat .date{
   color: #232323;
   font-weight: 500;
   font-size: .8rem;
}
.blog-details-page .searchBlog .dateCat .catg{
    border: 1px solid #e9ebef;
    border-radius: 1rem;
    padding: .15rem .6rem;
    font-size: .85rem;
    font-weight: 500;
}
.blog-details-page .searchBlog form{
   display: flex;
   flex-direction: row;
   border: 1px solid #e9ebef;
   width: 370px;
}
.blog-details-page .searchBlog form button{
    padding: .5rem ;
    border: none;
    outline: none;
    border-radius: 0;
    background-color: transparent;
 }
 .blog-details-page .searchBlog form input{
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 0;
    font-weight: 500;
    letter-spacing: .5px;
    color: #2E2E2E;
    font-size: .9rem;
 }
 .blog-details-page .searchBlog form input::placeholder{
    letter-spacing: .5px;
    color: #2E2E2E;
    font-size: .9rem;
 }
 @media(min-width: 991px){
    .blog-details-page .searchBlog form{
        width: 450px;
     }
}

@media(max-width: 600px){
    .blog-details-page .searchBlog{
        flex-direction: column-reverse;
    }
    .blog-details-page{
        padding: 6rem .8rem;
    }
    .blog-details-page .searchBlog .searchBox{
        width: 100%;
        margin-bottom: 1rem;
     }
    .blog-details-page .searchBlog form{
        width: 100%;
     }
}
.blogBox {
    margin: 1rem auto;
}

@media(min-width: 768px){
    .blogBox .blogContent{
       margin-right: 2rem;
    }
}
.blogContent .blogTitle{
    font-weight: 600;
    color: #2e2e2e;
    font-size: 1.8rem;
    letter-spacing: -.5px;
    margin-bottom: 1rem;
    line-height: 1.4;
}
.blogContent .autorbox{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.blogContent .autorbox img{
    object-fit: contain;
    border-radius: 50%;
}
.blogContent .authorImg{
    margin-right: .5rem;
    border: 1px solid #2ec4b6;
    border-radius: 50%;
    padding: .15rem;
}
.blogContent .autorbox .authorName{
   font-weight: 600;
   letter-spacing: .5px;
   font-size: .9rem;
   text-transform: capitalize;
   color: #2e2e2e;
}
.blogContent .firstImage{
    margin: .5rem auto;
    border-radius: 10px;
 }
 .blogContent .firstImage img{
    margin-top: 1rem;
    border-radius: 10px;
    max-width: 100%;
    display: block;
    object-fit: contain;
 }
@media(max-width: 600px){
    .blogContent .firstImage img{
        max-width: 99%;
        margin: 0 auto;
     }
}
.blogContent .blogcontentData .blogPara{
    color: #6b7280;
    font-size: .95rem;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1.4;
    text-align: left;
 }
 strong{
    font-weight: 700;
 }
 .blogContent .blogcontentData h2{
    font-size: 1.4rem;
    margin-bottom: .5rem;
    color: #2e2e2e;
    font-weight: 600;
 }
 .blogContent .blogcontentData img{
    max-width: 100%;
    display: block;
    object-fit: contain;
    margin-bottom: 1rem;
 }
 .blogContent .blogcontentData h3{
    font-size: 1.2rem;
    margin-bottom: .5rem;
    color: #2e2e2e;
    font-weight: 600;
 }
 .blogContent .blogcontentData ul li{
    list-style-type: disc;
    color: #6b7280;
    font-size: .95rem;
    font-weight: 500;
    margin-bottom: .5rem;
    line-height: 1.4;
    text-align: left;
 }
 .blogContent .blogcontentData ul {
    padding-left: 1rem;
 }
 .blogContent .blogcontentData ol li{
    list-style-type: number;
    color: #6b7280;
    font-size: .95rem;
    font-weight: 500;
    margin-bottom: .5rem;
    line-height: 1.4;
    text-align: left;
 }
 .blogContent .blogcontentData ol {
    padding-left: 1rem;
 }
 @media(max-width:600px){
    .blogContent .blogTitle {
        font-size: 1.4rem;
    }
    .blogContent .blogcontentData h2 {
        font-size: 1.2rem;
    }
    .blogContent .blogcontentData h3 {
        font-size: 1rem;
    }
    .blogContent .blogcontentData .blogPara {
        font-size: .9rem;
    }
    
 }
  /* table */
 .table-section{
    overflow: auto;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
  .table-section table{
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    background-color: #fff;
  }
  .table-section thead th{
    position: sticky;
    top: 0;
    background-color: #f1f7e9;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
  }
  table th, table td{
   padding: .5rem;
   text-align: left;
   font-weight: 500;
   font-size: .85rem;
   color: #222;
   letter-spacing: .6px;
   line-height: 1.5;
   min-width: 120px;
  }
  table tbody tr:nth-of-type(2n){
    background-color: #f2f2f2;
  }
  table th, table td a{
    text-decoration: none;
  }
  .table-section::-webkit-scrollbar{
    height: 5px;
    width: 5px;
  }
  .table-section::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  .table-section::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  table, th, td {
    border: 1px solid #e5e1e1;
  }
  @media(max-width:600px){
    table th, table td{
        min-width: 150px;
       }
  }

  /* ====================Comment Box================ */
.commentbox{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5rem;
}
.comment h3{
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: .5px;
}
.comment p{
    font-size: 1rem;
    text-align: justify;
    margin-bottom: .6rem;
    margin-top: .5rem;
}
.commentbox p span{
    color: #ff0000;
}
.commentbox label{
   margin-bottom: .5rem;
   padding-left: .3rem;
   font-weight: 500;
   font-size: .9rem;
   font-family: 'Montserrat', sans-serif;
}
.commentbox label span{
    color: #ff0000;
}
.input form textarea{
    margin-bottom: 1.2rem;
    padding-top: .5rem;
}
.commentbox .input form input, textarea{
    outline: none;
    padding-left: .9rem;
    border: 1px solid #e2e2e3;
    margin-bottom: 1.5rem;
    font-size: .85rem;
    letter-spacing: .5px;
    color: #666;
    font-weight: 500;
}
.commentbox .input form input{
    height: 2.2rem;
    font-size: .85rem;
    letter-spacing: .5px;
    color: #666;
    font-weight: 500;
}
.commentbox .input form input:focus{
   border: 1px solid #2ec4b6;
}
.commentbox .input form textarea:focus{
    border: 1px solid #2ec4b6;
 }
@media (max-width: 700px){
    .input form input, textarea{
        width: 100%;
    }  
    .input form textarea{
        width: 100%;
        height: 9.4rem;
    } 
}
.commentbox .input form button{
    border: none;
    background-color: #2ec4b6;
    outline: none;
    color: #fff;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: .5px;
    margin-bottom: 1rem;
    padding: .55rem 1rem;
    cursor: pointer;
}
.commentbox{
     border: 1px solid #D9D7D7;
    margin-bottom: 2.5rem;
}
@media(max-width:600px){
    .comment h3{
        font-size: 1.2rem;
    }
    .comment p{
        font-size: .8rem;
    }
    .commentbox label{
        font-size: .8rem;
     }
     .commentbox .input form input, textarea{
        font-size: .8rem;
    }
}
/* sidebar */
.newsLetterBox{
    padding: 1.2rem .6rem;
    border-radius: 10px;
    background-color: #f0f8f9;
}
.newsLetterBox .inputBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #e2e2e3;
    margin: 1rem auto 0 auto;
    background-color: #fff;
    padding-left: .5rem;
    border-radius: 4px;
}
.newsLetterBox .inputBox input{
    border: none;
    outline: none;
    box-shadow: none;
    background-color: #fff;
    font-weight: 500;
    color: #2e2e2e;
    font-size: .95rem;
}
.newsLetterBox .inputBox input::placeholder{
    font-weight: 500;
    color: #2e2e2e;
    font-size: .9rem;
}
.newsLetterBox  svg {
   border: none;
   outline: none;
   background-color: #fff;
   font-weight: 600;
}
.newsLetterBox  button {
    border: none;
    outline: none;
    font-weight: 500;
    width: 100%;
    background-color: #2ec4b6;
    padding: .5rem 1rem;
    border-radius: 4px;
    letter-spacing: .5px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
 }
 .sidebar .sidebarHeading{
    font-weight: 600;
    color: #2e2e2e;
    font-size: 1.15rem;
    margin-bottom: .4rem;
}
.newsLetterBox p{
    font-weight: 500;
    color: #2e2e2e;
    font-size: .9rem;
    margin-bottom: .4rem;
    line-height: 1.4;
    letter-spacing: .5px;
}
.newsLetterBox .consent{
    margin: .1rem  auto 1rem auto;
    padding: 0 .2rem;

}
.newsLetterBox .consent small{
    font-size: .75rem;
    font-weight: 500;
    color: #2e2e2e;
    display: block;
}
.newsLetterBox .consent small a{
    border-bottom: 1px solid #2e2e2e;
    padding-bottom: .1rem;
}
.recentPost .recentLink{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 1rem;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 1rem;
}
.sidebar .recentPost{
    margin: 1rem auto;
}
.recentPost .authorImg img{
    object-fit: contain;
    border-radius: 50%;
}
.recentPost .authorImg{
    margin-right: .5rem;
    border: 1px solid #2ec4b6;
    border-radius: 50%;
    padding: .15rem;
}
.recentPost .recentTitle{
    font-weight: 600;
    color: #2e2e2e;
    font-size: .95rem;
    margin-bottom: .2rem;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.recentPost .recentDesc{
    font-weight: 500;
    color: #2e2e2e;
    font-size: .85rem;
    margin-bottom: .5rem;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}