.blog-listing-page{
    padding: 6rem 1rem;
    background-color: #f8f8f8;
}
.blog-listing-page .list-blog{
    background-color: #fff;
    padding: 15px 20px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #eee;
    margin: 1rem auto;
}
.blog-listing-page .list-blog .listingItem{
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 1rem;
}
.blog-listing-page .container{
    max-width: 800px;
}
.listingItem .listingTitle{
    color: #2e2e2e;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 1.4;
}
.listingItem .listingTitle a{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.listingItem .listingImage img{
    max-width: 100%;
    display: block;
    height: auto;
    padding-bottom: 1rem;
    object-fit: contain;
}
.listingItem .blogDesc{
    padding-bottom: 20px;
    font-weight: 500;
    font-size: .9rem;
    color: #2e2e2e;
    line-height: 1.4;
}
.listingItem .blogDesc a{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@media(max-width: 600px){
    .blog-listing-page .list-blog {
        padding: 15px 10px;
    }
    .listingItem .listingTitle {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .listingItem .blogDesc{
        padding-bottom: 10px;
        font-size: .8rem;
        letter-spacing: .5px;
    }
    .blog-listing-page .list-blog .listingItem{
        margin-bottom: .5rem;
    }
}
.pagination{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.pagination ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pagination ul li a{ 
    padding: .3rem 1rem;
    border: 1px solid #2ec4b6;
    display: inline-block;
    margin: 0 .5rem;
    border-radius: 3px;
    font-weight: 500;
    color: #2e2e2e;
    text-decoration: none;
    cursor: pointer;
}
.pagination ul li a.active{
    background-color: #2ec4b6;
    color: #fff;
}
.blog-cat h1{
    font-weight: 700;
    color: #2e2e2e;
    font-size: 1.8rem;
    letter-spacing: .5px;
}