/* ========================Nabbar===================== */

body{
    min-width: 345px;
}
/* responsive web template */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    min-width: 350px;
    line-height: 1;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  font-family: 'Montserrat', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
  font-family: 'Montserrat', sans-serif;
} 
.row{
  max-width: 100%;
  margin: auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
:root {
  --primary-color: #0ecce4; 
  --secondary-color: #ff6900;
}

.navbar .brandLogo img{
  object-fit: contain;
  width: 200px;
}
.navbar{
  padding: 18px 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.navbar .container-fluid{
 max-width: 1100px;
}
.navbar .searchForm{
  border: 1px solid #000;
  padding-left: .5rem;
 }
 .navbar .searchForm input{
  box-shadow: none;
  border-radius: 0;
  border: none;
  font-weight: 500;
  color: #000;
 }
 .navbar .searchForm input{
  box-shadow: none;
 }
 .navbar .searchForm svg{
 width: 28px;
 fill: #929292;
 }
 .navbar .searchForm input::placeholder{
 font-weight: 500;
 color: #d0d0cc;
 font-size: .9rem;
 }
 .navbar .searchForm button{
  box-shadow: none;
  border-radius: 0;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .5px;
  }
  .navbar .searchForm button:focus{
    background-color: var(--primary-color);
  }
  .navbar .navLinks .nav-link{
    color: #000;
    font-weight: 500;
    font-size: .9rem;
    text-transform: uppercase;
    padding: 0 1rem;
    
  }
  .navbar .navbar-toggler{
    padding: 0;
    border: none;
    margin-right: .5rem;
  }
 @media (max-width: 650px){
  .navbar .mobileFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .navbar .brandLogo{
    margin-right: 0;
  }
  .navbar  .searchForm{
    margin-left: 0 !important;
    width: 100%;
  }
 }
/* footer */
footer .container{
  max-width: 1400px;
}
footer .footerTop{
  padding: 3rem 0;
  background-color: #0d2857;
}
footer .footerTop .footerLogo a{
 font-weight: 700;
 font-size: 2.2rem;
 text-transform: uppercase;
 color: #fff;
 letter-spacing: .5px;
}
footer .footerTop .footerLogo{
 margin-bottom: 1rem;
 }
#footerdesc {
  font-size: .9rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 1rem;
}
.footerLinks h4{
  margin-bottom: 1rem;
  font-weight: 600;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
}
.footerLinks ul li{
 margin-bottom: 1rem;
 display: flex;
 align-items: center;
 opacity: .8;
 border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
 padding-bottom: .5rem;
}
.footerLinks ul li:hover{
  opacity: 1;
 }
.footerLinks ul li svg{
 width: 6px;
 fill: #fff;
 margin-right: .5rem;
 }
 .footerLinks ul li a{
 font-weight: 400;
 color: #fff;
 font-size: .85rem;
}
.footerFrom{
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 0 .5rem;
  height: 2rem;
  padding-right: 0;
  border-radius:  .28rem;
  margin-bottom: 1rem;
}
.footerFrom .form-control{
  box-shadow: none;
  height: 2rem;
  border-radius: 0;
  font-size: .9rem;
  border: none;
  outline: none
}

.footerFrom button{
  display: flex;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 .28rem .28rem 0;
  padding: 0 .5rem;
  font-size: .7rem;
  font-weight: 600;
  letter-spacing: .5px;
  color: #fff;
  text-transform: uppercase;
}
.footerFrom svg{
 width: 16px;
 fill: #d0d0cc;
}
.footerFrom .form-control::placeholder{
  color: #d0d0cc;
  font-size: .8rem;
}
footer .footerTop .footertxt{
 font-weight: 400;
 color: #777777;
 font-size: .8rem;
 line-height: 1.4;
 margin-bottom: 1rem;
 }
 footer .footerTop .footertxt a{
  font-weight: 500;
  color: #fff;

  }
  footer .footerTop .socialFooter{
   display: flex;
   align-items: center;
   gap: 10px;
  
  }
    footer .footerTop .socialFooter a{
      display: inline-flex;
      align-items: center;
      width: 2rem;
      height: 2rem;
      background: rgba(255, 255, 255, 0.05) none repeat scroll 0 0;
      justify-content: center;
      border-radius: 50%;
  }
  footer .footerTop .socialFooter a svg{
   width: 14px;
   fill: #fff
}
footer .footerTop .socialFooter a:hover{
 background-color: var(--primary-color);
}
.isocontainer {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  justify-content: space-between;
}
.isocontainer p {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.isocontainer .isoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.isocontainer .isoBox .isoItem {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
  margin-left: 4rem;
}
.isocontainer .isoBox .isoItem span {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
}
.isocontainer .isoBox .isoItem img {
  width: 45px;
  margin-right: 1rem;
  object-fit: contain;
}
@media(max-width:991px){
  .isocontainer{
    flex-direction: column;
  }
  .isocontainer .isoBox .isoItem {
    margin-left: 0;
    margin-right: 1rem;
  }
}
.copyright {
  background-color: #222;
  color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.copyright-para {
  font-size: .85rem;
  color: #fff;
}
.lovtxt {
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: .9rem;
  font-weight: 500;
  color: #fff;
}
 .breadcrumb {
    margin-top: .5rem;
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.breadcrumb ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.breadcrumb ul li {
  margin-right: .5rem;
  font-size: .75rem;
  font-weight: 500;
  color: #2e2e2e;
}
.breadcrumb ul li a {
  color: var(--primary-color);
}
.storeCat {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}
.storeCat a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: .68rem;
  font-weight: 500;
  color: #fff;
  background-color: var(--primary-color);
  padding: .1rem .35rem;
  border-radius: 2px;
  letter-spacing: .4px;
}

