.blog-details-page{
    padding: 6rem 1rem;
}
.container{
   
    max-width: 1200px;
}
.blog-details-page .searchBlog{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.blog-details-page .searchBlog .dateCat{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.blog-details-page .searchBlog .dateCat span{
    margin-right: .6rem;
}
.blog-details-page .searchBlog .dateCat .date{
   color: #232323;
   font-weight: 500;
   font-size: .8rem;
}
.blog-details-page .searchBlog .dateCat .catg{
    border: 1px solid #e9ebef;
    border-radius: 1rem;
    padding: .15rem .6rem;
    font-size: .85rem;
    font-weight: 500;
}
.blog-details-page .searchBlog form{
   display: flex;
   flex-direction: row;
   border: 1px solid #e9ebef;
   width: 370px;
   border-right: 0;
   border-radius: 0 4px 4px 0;
}
.blog-details-page .searchBlog form button{
    padding: .5rem ;
    border: none;
    outline: none;
    border-radius: 0;
    background-color: transparent;
    border-radius: 0 4px 4px 0;
    background-color: #000;
    border: 1px solid #000;
    padding: .5rem 1rem;
 }
 .blog-details-page .searchBlog form button svg{
   fill: #fff;
   font-weight: 600;
   height: .9em;
   width: .9rem;
 }
 .blog-details-page .searchBlog form input{
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 0;
    font-weight: 500;
    letter-spacing: .5px;
    color: #2E2E2E;
    font-size: .9rem;
 }
 .blog-details-page .searchBlog form input::placeholder{
    letter-spacing: .5px;
    color: #2E2E2E;
    font-size: .9rem;
 }
 @media(min-width: 991px){
    .blog-details-page .searchBlog form{
        width: 400px;
     }
}

@media(max-width: 600px){
    .blog-details-page .searchBlog{
        flex-direction: column-reverse;
    }
    .blog-details-page{
        padding: 6rem .8rem;
    }
    .blog-details-page .searchBlog .searchBox{
        width: 100%;
        margin-bottom: 1rem;
     }
    .blog-details-page .searchBlog form{
        width: 100%;
     }
}
.blogBox {
    margin: 1rem auto;
}

@media(min-width: 768px){
    .blogBox .blogContent{
       margin-right: 2rem;
    }
}
.blogContent .blogTitle{
    font-weight: 600;
    color: #2e2e2e;
    font-size: 1.8rem;
    letter-spacing: -.5px;
    margin-bottom: 1rem;
    line-height: 1.4;
}
.blogContent .autorbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 1.2rem;
    margin-bottom: 2rem;
}
.blogContent .autorbox img{
    object-fit: contain;
    border-radius: 50%;
}
.blogContent .autorbox .date{
   display: inline-block;
   margin-top: .2rem;
   font-weight: 500;
   font-size: .8rem;
   color: grey;
}
.blogContent .authorImg{
    margin-right: .5rem;
    border: 1px solid #ed7430;
    border-radius: 50%;
    padding: .15rem;
}
.blogContent .autorbox .authorName{
   font-weight: 600;
   letter-spacing: .5px;
   font-size: .9rem;
   text-transform: capitalize;
   color: #2e2e2e;
}
.blogContent .firstImage{
    margin: .5rem auto;
    border-radius: 10px;
 }
 .blogContent .firstImage img{
    margin-top: 1rem;
    border-radius: 10px;
    max-width: 100%;
    display: block;
    object-fit: contain;
 }
@media(max-width: 600px){
    .blogContent .firstImage img{
        max-width: 99%;
        margin: 0 auto;
     }
}
.blogContent .blogcontentData .blogPara{
    color: #6b7280;
    font-size: .95rem;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1.4;
    text-align: left;
 }
 strong{
    font-weight: 700;
 }
 .blogContent .blogcontentData h2{
    font-size: 1.4rem;
    margin-bottom: .5rem;
    color: #2e2e2e;
    font-weight: 600;
 }
 .blogContent .blogcontentData img{
    max-width: 100%;
    display: block;
    object-fit: contain;
    margin-bottom: 1rem;
 }
 .blogContent .blogcontentData h3{
    font-size: 1.2rem;
    margin-bottom: .5rem;
    color: #2e2e2e;
    font-weight: 600;
 }
 .blogContent .blogcontentData ul li{
    list-style-type: disc;
    color: #6b7280;
    font-size: .95rem;
    font-weight: 500;
    margin-bottom: .5rem;
    line-height: 1.4;
    text-align: left;
 }
 .blogContent .blogcontentData ul {
    padding-left: 1rem;
 }
 .blogContent .blogcontentData ol li{
    list-style-type: number;
    color: #6b7280;
    font-size: .95rem;
    font-weight: 500;
    margin-bottom: .5rem;
    line-height: 1.4;
    text-align: left;
 }
 .blogContent .blogcontentData ol {
    padding-left: 1rem;
 }
 @media(max-width:600px){
    .blogContent .blogTitle {
        font-size: 1.4rem;
    }
    .blogContent .blogcontentData h2 {
        font-size: 1.2rem;
    }
    .blogContent .blogcontentData h3 {
        font-size: 1rem;
    }
    .blogContent .blogcontentData .blogPara {
        font-size: .9rem;
    }
    
 }
  /* table */
 .table-section{
    overflow: auto;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
  .table-section table{
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    background-color: #fff;
  }
  .table-section thead th{
    position: sticky;
    top: 0;
    background-color: #f1f7e9;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
  }
  table th, table td{
   padding: .5rem;
   text-align: left;
   font-weight: 500;
   font-size: .85rem;
   color: #222;
   letter-spacing: .6px;
   line-height: 1.5;
   min-width: 120px;
  }
  table tbody tr:nth-of-type(2n){
    background-color: #f2f2f2;
  }
  table th, table td a{
    text-decoration: none;
  }
  .table-section::-webkit-scrollbar{
    height: 5px;
    width: 5px;
  }
  .table-section::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  .table-section::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  table, th, td {
    border: 1px solid #e5e1e1;
  }
  @media(max-width:600px){
    table th, table td{
        min-width: 150px;
       }
  }

  /* ====================Comment Box================ */
.commentbox{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5rem;
}
.comment h3{
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: .5px;
}
.comment p{
    font-size: 1rem;
    text-align: justify;
    margin-bottom: .6rem;
    margin-top: .5rem;
}
.commentbox p span{
    color: #ff0000;
}
.commentbox label{
   margin-bottom: .5rem;
   padding-left: .3rem;
   font-weight: 500;
   font-size: .9rem;
   font-family: 'Montserrat', sans-serif;
}
.commentbox label span{
    color: #ff0000;
}
.input form textarea{
    margin-bottom: 1.2rem;
    padding-top: .5rem;
}
.commentbox .input form input, textarea{
    outline: none;
    padding-left: .9rem;
    border: 1px solid #e2e2e3;
    margin-bottom: 1.5rem;
    font-size: .85rem;
    letter-spacing: .5px;
    color: #666;
    font-weight: 500;
}
.commentbox .input form input{
    height: 2.2rem;
    font-size: .85rem;
    letter-spacing: .5px;
    color: #666;
    font-weight: 500;
}
.commentbox .input form input:focus{
   border: 1px solid #ed7430;
}
.commentbox .input form textarea:focus{
    border: 1px solid #ed7430;
 }
@media (max-width: 700px){
    .input form input, textarea{
        width: 100%;
    }  
    .input form textarea{
        width: 100%;
        height: 9.4rem;
    } 
}
.commentbox .input form button{
    border: none;
    background-color: #ed7430;
    outline: none;
    color: #fff;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: .5px;
    margin-bottom: 1rem;
    padding: .55rem 1rem;
    cursor: pointer;
}
.commentbox{
     border: 1px solid #D9D7D7;
    margin-bottom: 2.5rem;
}
@media(max-width:600px){
    .comment h3{
        font-size: 1.2rem;
    }
    .comment p{
        font-size: .8rem;
    }
    .commentbox label{
        font-size: .8rem;
     }
     .commentbox .input form input, textarea{
        font-size: .8rem;
    }
}
/* sidebar */
.newsLetterBox{
    padding: 1.2rem .6rem;
    border-radius: 10px;
    background-color: #f0f8f9;
}
.newsLetterBox .inputBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #e2e2e3;
    margin: 1rem auto 0 auto;
    background-color: #fff;
    padding-left: .5rem;
    border-radius: 4px;
}
.newsLetterBox .inputBox input{
    border: none;
    outline: none;
    box-shadow: none;
    background-color: #fff;
    font-weight: 500;
    color: #2e2e2e;
    font-size: .95rem;
}
.newsLetterBox .inputBox input::placeholder{
    font-weight: 500;
    color: #2e2e2e;
    font-size: .9rem;
}
.newsLetterBox  svg {
   border: none;
   outline: none;
   background-color: #fff;
   font-weight: 600;
}
.newsLetterBox  button {
    border: none;
    outline: none;
    font-weight: 500;
    width: 100%;
    background-color: #ed7430;
    padding: .5rem 1rem;
    border-radius: 4px;
    letter-spacing: .5px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
 }
 .sidebar .sidebarHeading{
    font-weight: 600;
    color: #2e2e2e;
    font-size: 1.15rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #e2e2e2;
}
.sidebar .sidebarHeading:after{
    border-bottom: 2px solid #ed7430;
    content: ' ';
    width: 75px;
    display: block;
    position: relative;
    bottom: -2px;
    z-index: 99;
}
.newsLetterBox p{
    font-weight: 500;
    color: #2e2e2e;
    font-size: .9rem;
    margin-bottom: .4rem;
    line-height: 1.4;
    letter-spacing: .5px;
}
.newsLetterBox .consent{
    margin: .1rem  auto 1rem auto;
    padding: 0 .2rem;

}
.newsLetterBox .consent small{
    font-size: .75rem;
    font-weight: 500;
    color: #2e2e2e;
    display: block;
}
.newsLetterBox .consent small a{
    border-bottom: 1px solid #2e2e2e;
    padding-bottom: .1rem;
}
.recentPost .recentLink{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 1rem;
    padding-bottom: 1.6rem;
}
.sidebar .recentPost{
    margin: 1rem auto;
}
.recentPost .authorImg img{
    object-fit: contain;
    border-radius: 50%;
}
.recentPost .authorImg{
    margin-right: .5rem;
    border: 1px solid #2ec4b6;
    border-radius: 50%;
    padding: .15rem;
}
.recentPost .recentTitle{
    font-weight: 600;
    color: #2e2e2e;
    font-size: .95rem;
    margin-bottom: .2rem;
    line-height: 1.4;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.recentPost .recentDesc{
    font-weight: 500;
    color: #2e2e2e;
    font-size: .85rem;
    margin-bottom: .5rem;
    line-height: 1.4;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.recentPost .featureImg{
   margin-right: .8rem;
   min-width: 100px;
}
.recentPost .featureImg img{
    object-fit: contain;
}
.sidebar .sidebarFeaturedImg img{
    object-fit: contain;
    max-width: 100%;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 1rem;
}
.breadcrumb ul li a {
    color: #ed7430;
    font-weight: 600px;
}
/* FAQS */
.faqsBox{
    margin-bottom: 1.6rem;
}
.faqsBox h3{
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.faqsBox .faqItem{
    padding: .5rem 0;
    margin-bottom: .5rem;
}
.faqsBox .faqItem .faqQues{
    padding: 1rem 0;
    background: #f1f2f6;
    padding: 10px 18px;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #000;
}
.faqsBox .faqItem .faqQues h4{
    font-size: 18px;
    font-weight: 600;
}
.faqsBox .faqItem .faqAns{
    padding: 10px 18px;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    border-top: none;
}
.faqsBox .faqItem .faqAns p{
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    font-weight: 500;
}
.retatedArticle{
    margin-bottom: 2rem;
}
.retatedArticle h3{
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.retatedArticle .articleSnippet{
   display: flex;
   flex-direction: column;
   box-shadow: rgba(0, 0, 0, .15) 0px 1px 2px;
   overflow: hidden;
   background: white;
   padding: 20px;
   position: relative;
   transition: all .35s cubic-bezier(0.39, 0.58, 0.57, 1);
   border-top: 1px solid #efefef;
   min-height: 100%;
}
.retatedArticle .articleSnippet img{
    max-width: 100%;
    object-fit: contain;
    border-radius: 5px;
    max-height: 150px;
    margin-bottom: 2rem;

 }
 .retatedArticle .articleSnippet h4{
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: .5px;
 }
 .retatedArticle .articleSnippet:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }
 .retatedArticle .articleSnippet:hover h4{
   text-decoration: underline;
 }
 /* blog carosel */

 .blogCarosel .carousel-control-next{
   justify-content: right;
 }
 .blogCarosel .carousel-control-prev {
   justify-content: left;
 }
 .blogCarosel .carousel-control-next .carousel-control-next-icon,  .blogCarosel .carousel-control-prev .carousel-control-prev-icon{
    background-color: #000;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    width: 2.6rem;
    padding: .5rem .6rem;
    display: none;
 }
  .blogCarosel .carousel-caption{
   left: 0%;
   right: 0%;
   /* top: 0;
   background-color: #00000020;
   height: 100%;
   display: flex;
   align-items: flex-end; */
   padding: 0 1rem;
   text-align: left;
   margin-bottom: 1rem;
 }
 .blogCarosel .carousel-caption p{
    font-weight: 600;
    text-align: left;
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    line-height: 1.2;
    margin-bottom: 1rem;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .blogCarosel .carousel-caption span{
   border-radius: 3px;
   padding: .3rem 1rem;
   background-color: #0000001b;
   color: #fff;
   text-transform: uppercase;
   border: 1px solid #fff;
   font-weight: 600;
   text-shadow: 1px 1px 1px #000;
   font-size: 1.3rem;
  }
 .blogCarosel:hover .carousel-control-next-icon, .blogCarosel:hover .carousel-control-prev-icon{
   display: block;
 }
 .carousel-caption {
    opacity: 0;
    transition: opacity 0.2s ease-in 0.2s;
}

.carousel-item.active .carousel-caption {
    opacity: 1;
}
.blogPagination a svg{
    width: 18px;
    height: 18px;
}
.blogPagination {
   display: flex;
   justify-content: center;
   width: 600px;
   max-width: 100%;
   margin: auto;
   margin-top: 1rem;
   gap: 10px;
}
.blogPagination a{
    display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 2rem;
   height: 2rem;
   cursor: pointer;
   text-decoration: none;
   font-weight: 500;
   color: #222;
   font-size: 16px;
 }
 .blogPagination a.active{
   background-color: #ed7430;
   color: #fff;
 }
 .blogPagination a:hover{
    background-color: #ed7430;
    color: #fff;
  }
  .blogPagination a:hover svg{
    fill: #fff;
  }
  .recentPost.bestCoupons .recentLink{
    border-bottom: none;
    font-weight: 500;
    color: #12169e;
    font-size: .9rem;
    padding-bottom: 0;
  }
  .recentPost.bestCoupons .recentLink:hover{
   text-decoration: underline;
   color: #222;
  }