body{
    background-color: #f8faf9;
}
.affiDisc p {
    text-align: center;
    font-weight: 500;
    color: #2e2e2e;
    font-size: .65rem;
    letter-spacing: .4px;
    margin-top: 1rem;
}
.affiDisc p a{
   color: var(--primary-color);
}
@media (max-width: 600px) {
    .affiDisc p {
        font-size: .46rem;
    }
}
.container {
   max-width: 1100px;
}
.storeHeader{
   margin-bottom: 1rem;
}
.storeHeader .headerFlex{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    padding: 30px 30px;
    background-color: #fff;
    display: flex;
}
.storeHeader .headerFlex .header-thumb{
    margin-right: 30px;
    padding-top: 15px;
}
.storeHeader .headerFlex  .header-thumb .header-store-thumb a {
    line-height: 0;
    border: 2px solid #f5f5f5;
    text-align: center;
    margin-bottom: 10px;
    min-width: 100px;
    padding: 5px;
    display: block;
}
.storeHeader .headerFlex  .header-thumb .header-store-thumb a:hover {
  border: 2px solid #ff6900;
}
.storeHeader .headerFlex .header-thumb .header-thumb img{
  max-width: 140px;
}

  .star-rating {
   text-align: center;
   margin-bottom: .5rem;
   font-weight: 500;
   color: #2e2e2e;
  }
  .star-rating svg{
    fill: #f5c518;
    width: 15px;
    height: 15px;
  }
  .rate-btn {
    display: block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #0073aa;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap;
    font-size: .8rem;
    font-weight: 500;
}
.rating-submitted {
    margin-top: 10px;
    color: green;
    /* display: none; */
    font-size: .8rem;
    font-weight: 600;
}
.header-content h1 {
    font-weight: 500;
    margin-bottom: 7px;
    line-height: 1.6;
    letter-spacing: -1px;
    min-height: 1rem;
    font-size: 1.65rem;
}
.header-content p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 1rem;
}
.header-content a{
   color: var(--primary-color);
  }
  @media(max-width: 768px){
    .storeHeader .headerFlex{
       flex-direction: column;
       padding: 15px;
    }
    .storeHeader .headerFlex .header-thumb {
        margin-right: 0;
        padding-top: 15px;
    }
  }
.couponSection{
    margin-bottom: 1rem;
    padding-top: 2rem;
}
.coupon-types-list{
    margin-bottom: 1rem;
}
  .coupon-types-list a{
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.95);
    font-size: .85714286rem;
    background: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    position: relative;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 500;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
  }
  .hide{
    display: none;
  }
  .coupon-types-list a span{
    font-size: 11px;
    padding: 2px 6px 2px;
    margin-left: 6px;
    color: #FFFFFF;
    border-radius: 3px;
}
.coupon-types-list a.active{
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.95);
    font-weight: 600;
  }
  .coupon-types-list a span.all-count{
   background-color: var(--primary-color);
}
.coupon-types-list a span.code-count{
   background-color: #b9dc2f;
}
.coupon-types-list a span.sale-count{
    background-color: #ea4c89;
}    
.store-listing .coupon-item{
    padding: 20px 20px 16px 20px;
    margin-bottom: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    background: #FFFFFF;
    padding-bottom: 0;
}
.store-listing-item .coupon-l-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}
.store-listing-item .store-thumb-link {
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.store-listing-item .store-thumb-link .store-thumb {
    width: 80px;
    height: 80px;
    margin-bottom: 0; 
    border: 2px solid #f5f5f5;
    border-radius: 2px;
}
.store-listing-item .store-thumb-link .store-thumb {
    width: 80px;
    height: 80px;
    margin-bottom: 0; 
    border: 2px solid #f5f5f5;
    border-radius: 2px;
}
.store-listing-item .thumb-padding {
    display: flex;
    padding: 4px;
    width: 100%;
    min-height: 90px;
    align-items: center;
    justify-content: center;
}
.store-listing-item .thumb-padding img{
    object-fit: contain;
    max-width: 100%;
    height: auto;
    width: 100%;
}
.coupon-listing-item .c-type {
    display: inline-flex;
    gap: 6px;
    margin: 0px 0px 4px;
}
.coupon-listing-item .c-type span{
    color: #ffffff;
    padding: 4px 10px 4px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.coupon-listing-item .c-type span.c-code{
   background-color: #b9dc2f;
}
.store-listing-item .coupon-l-body {
    display: flex;
    gap: 20px;
}
.store-listing-item .latest-coupon {
    max-width: 100%;
    width: 100%;
}
.store-listing-item .latest-coupon .coupon-title {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
    margin-top: -2px;
    line-height: 1.5;
}
.store-listing-item .latest-coupon .coupon-title a {
    color: #000;
    font-weight: 600;
}
.store-listing-item .latest-coupon .coupon-title a:hover{
   color: var(--secondary-color);
}
.store-listing-item .coupon-des p{
   font-weight: 500;
   color: #000;
   line-height: 1.4;
   font-size: .85rem;
   margin-bottom: .5rem;
 }
 .store-listing-item .coupon-des p a{
   color: var(--primary-color);
  }
  .tnc {
    display: block;
    color: #06f;
    font-size: .75rem;
    letter-spacing: .5px;
}
.coupon-button-type .coupon-deal, .coupon-button-type .coupon-print, .coupon-button-type .coupon-code {
    line-height: 1;
    padding: 14px 38px;
    max-width: 200px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 3px;
    min-width: 195px;
    text-align: center;
    width: 100%;
}
.coupon-button-type .coupon-deal {
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    background-color: var(--primary-color);
}
.coupon-button-type .coupon-code {
    color: #444444;
    background: linear-gradient(315deg, rgba(0, 0, 0, 0.06) 10%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.06) 40%, rgba(0, 0, 0, 0.06) 60%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0.06) 90%) repeat scroll 0 0 / 6px 6px rgba(0, 0, 0, 0);
    text-align: right;
    padding: 10px 12px;
    height: 44px;
    font-size: 20px;
    display: inline-flex;
    border: 2px solid #DDDDDD;
    position: relative;
}
.coupon-listing-item .user-ratting {
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid rgba(34, 36, 38, .15);
    margin-top: 1rem;
    display: inline-flex;
}
.coupon-listing-item .user-ratting .coupon-vote{
    border-right: 1px solid rgba(34, 36, 38, .15);
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.coupon-listing-item .user-ratting .coupon-vote:last-child{
  border-right: none;
}

.coupon-listing-item .user-ratting svg{
   width: 18px;
   fill: #a3a3a3;
}
.coupon-listing-item .coupon-detail .voted-value {
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.coupon-listing-footer.showbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(249, 250, 251);
    padding: 10px 20px 10px 20px;
    border-top: none;
    margin-top: .4rem;
    border-radius: 0 3px 3px;
    margin: 18px -20px 0px;
}
.showbox .lastUsed {
    font-size: 12px;
    color: #999;
    float: left;
}
.coupon-listing-item .c-type {
    display: inline-flex;
    gap: 6px;
    margin-bottom: 0;
    align-items: center;
}
.coupon-listing-item .c-type .exp {
    font-size: 12px;
    color: #999999;
    margin-left: 10px;
    font-weight: 500;
    text-transform: capitalize;
}
.coupon-listing-item .c-type .totalUsed {
    color: #999;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    text-transform: capitalize;
}
.coupon-listing-item .c-type .totalUsed svg {
    margin-right: 6px;
    width: 16px;
}
.verifiedCoupon {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #2e2e2e;
    letter-spacing: .5px;
    font-size: .8rem;
}
.verifiedCoupon img{
   margin-right: .5rem;
   object-fit: contain;
}
.coupon-listing-footer ol{
    padding-left: 25px;
    list-style-type: decimal;
}    
.coupon-listing-footer ol li {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: .8rem;
}
@media screen and (max-width: 560px) {
    .store-listing-item .coupon-detail {
        width: 100%;
        flex-basis: 100%;
    }
    .store-listing-item .coupon-l-body {
        flex-direction: column;
    }
    .coupon-listing-item .user-ratting {
      display: none;
    }
    .coupon-listing-item .voted-value{
       display: none;
    }
    .store-listing-item .store-thumb-link{
        justify-content: flex-start;
    }
    .coupon-button-type .coupon-button{
        width: 100%;
        max-width: 100%;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}
.coupon-listing-item .c-type span.c-sale {
    background: #ea4c89;
    padding: 3px 10px 5px;
}
.coupon-listing-footer .accordion-body {
    padding: 0;
    background-color: transparent;
    background: transparent;
}
.coupon-listing-footer .accordion-item {
    background-color: transparent;
    background: transparent;
    border: none;
}
.coupon-listing-footer.showbox{
    margin-top: 0;
}
.faq-section {
   margin-bottom: 1rem;
   font-weight: 500;
    margin-bottom: 1.4rem;
    color: #666;
    line-height: 1.4;
    font-size: .9rem;
}
.faq-section h3{
    font-weight: 600;
    margin-bottom: 1rem;
    color: #000;
    line-height: 1.4;
    font-size: 1.4rem;
}
.faq-section .faq-question{
    font-weight: 600;
    margin-bottom: 1rem;
    color: #000;
    line-height: 1;
    font-size: 1rem;
}
.faq-section .faq-answer{
    font-weight: 500;
    margin-bottom: 1rem;
    color: #666;
    line-height: 1.4;
    font-size: .9rem;
}
.faq-section ol {
   padding-left: 25px;
}
.faq-section ol li{
    font-weight: 500;
    margin-bottom: 1rem;
    color: #666;
    line-height: 1.4;
    font-size: .9rem;
    list-style-type: decimal;
}
.faq-section ul {
    padding-left: 25px;
 }
 .faq-section ul li{
     font-weight: 500;
     margin-bottom: 1rem;
     color: #666;
     line-height: 1.4;
     font-size: .9rem;
     list-style-type: disc;
 }

 .offerToday {
   margin-bottom: 1.4rem;
}
 .offerToday h3 {
    font-weight: 600;
    color: #2e2e2e;
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: .5rem;
}
.offerToday table {
    width: fit-content;
    border: none;
}
.offerToday table td {
    font-weight: 500;
    color: #2e2e2e;
    font-size: .85rem;
    padding: .4rem 0;
    min-width: 110px;
    border: none;
}
.offerToday table tr td:nth-of-type(1) {
    text-align: left;
}
.offerToday table tr td:nth-of-type(2) {
    text-align: right;
}
.couponOffer table {
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: #333;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #e2e2e2;
    text-align: left;
}
.couponOffer table th {
    padding: 8px;
    vertical-align: top;
    border: 1px solid #e2e2e2;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.couponOffer table td {
    padding: 8px;
    vertical-align: top;
    border: 1px solid #e2e2e2;
    text-align: left;
}
.widget{
    margin-bottom: 1.4rem;
}
 .widget .widget-title {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1.2px;
    font-weight: 500;
}
.widget .shadow-box{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    background: #FFFFFF;
    padding: 10px;
}
.widget .item{
    display: list-item;
    table-layout: fixed;
    list-style-type: none;
    list-style-position: outside;
    padding: .21428571em 0;
    line-height: 1.14285714em;
}
.widget .item span{
    font-weight: 500;
    font-size: .8rem;
}
.widget h5{
    font-weight: 600;
    font-size: .8rem;
    margin-bottom: 1rem;
}
.widget_store_cat_filter .store-filter-sortby-wrapper.ui.list .store-filter-sortby {
    margin-left: 0;
    margin-right: 5px;
}
.widget-area .widget {
    margin-bottom: 30px;
}
.ui.grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    padding: 0;
}
.widget_popular_stores .ui.grid {
    margin: 0px -10px;
}
.widget_popular_stores .ui.grid .column {
    width: 50%;
    padding: 10px;
}
.widget_popular_stores .ui.grid .column .store-thumb{
    border: 2px solid #f5f5f5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: block;
}
.widget_popular_stores .ui.grid .column .store-thumb img{
   max-width: 100%;
   height: 95%;
   display: block;
   margin: auto;
   object-fit: contain;

}
#st_categories-2 .ui.grid>.row {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: inherit;
    justify-content: inherit;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: 100% !important;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#st_categories-2 .column {
    width: 50% !important;
}
.list-categories ul li a {
    width: 100%;
    padding: 7px 0px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-color);
}
.coupon-listing-footer.accordion{
    padding: 0 !important;
}
@media(max-width:768px){
    .header-store-thumb{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-store-thumb a{
        max-width: 70px;
        margin: auto;
        display: flex;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 70px;
    }
    .header-store-thumb a img{
        max-width: 70px;

        height: 70px;
    }
    .rate-btn{
        width: 100%;
    }
}
@media(max-width:600px){
    .showbox .lastUsed {
        font-size: 9px;
    }
    .coupon-listing-item .c-type .exp {
        font-size: 9px;
        margin-left: 0;
        padding-bottom: 0;
    }
    .coupon-listing-item .c-type .totalUsed {
        font-size: 9px;
    }
    .verifiedCoupon {
        font-size: 9px;
    }
    .coupon-listing-footer.showbox{
        padding: 10px 5px;
    }
    .coupon-listing-item .c-type span{
        padding: 0 1px;
    }
    .couponSection .container{
        padding: 0;
    }
    .header-content h1{
        font-size: 1.4rem;
        line-height: 1.4;
    }
}
